In [1]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2
from config import db_password

In [2]:
# Create connection to database
db_string = f"postgresql://postgres:{db_password}@uoft-project.c2pfkpd7k3jl.ca-central-1.rds.amazonaws.com/covid_project"
engine = create_engine(db_string)

In [3]:
# Get the Dataset into dataframes
confirmedcases_df = pd.read_csv('./Resources/conposcovidloc.csv')
outbreaks_df =  pd.read_csv('./Resources/ongoing_outbreaks_phu.csv')
vaccinedata_df =  pd.read_csv('./Resources/vaccines_by_age_phu.csv')

In [4]:
#create phu_df out of the confirmedcases_df 
phu_df = pd.DataFrame(
    confirmedcases_df.groupby( 
                            ['Reporting_PHU_ID', 
                            'Reporting_PHU',           
                            'Reporting_PHU_Address',  
                            'Reporting_PHU_City',
                            'Reporting_PHU_Postal_Code',
                            'Reporting_PHU_Website',
                            'Reporting_PHU_Latitude',
                            'Reporting_PHU_Longitude']
).Row_ID.count()).reset_index()
phu_df = phu_df.drop(columns=['Row_ID'])
phu_df.head(5)

,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
0,2226,Algoma Public Health Unit,294 Willow Avenue,Sault Ste. Marie,P6B 0A9,www.algomapublichealth.com,46.532373,-84.314836
1,2227,Brant County Health Unit,194 Terrace Hill Street,Brantford,N3R 1G7,www.bchu.org/,43.151811,-80.274374
2,2230,Durham Region Health Department,605 Rossland Road East,Whitby,L1N 0B2,www.durham.ca/en/health-and-wellness/health-an...,43.898605,-78.940341
3,2233,Grey Bruce Health Unit,101 17th Street East,Owen Sound,N4K 0A5,www.publichealthgreybruce.on.ca/,44.576196,-80.940980
4,2234,Haldimand-Norfolk Health Unit,12 Gilbertson Drive,Simcoe,N3Y 4N5,www.hnhu.org,42.847825,-80.303815

In [5]:
# drop not needed columns from confirmedcases_df
confirmedcases_df = confirmedcases_df.drop(columns=['Reporting_PHU',           
                            'Reporting_PHU_Address',  
                            'Reporting_PHU_City',
                            'Reporting_PHU_Postal_Code',
                            'Reporting_PHU_Website',
                            'Reporting_PHU_Latitude',
                            'Reporting_PHU_Longitude'])
confirmedcases_df.head(5)

,Row_ID,Accurate_Episode_Date,Case_Reported_Date,Test_Reported_Date,Specimen_Date,Age_Group,Client_Gender,Case_AcquisitionInfo,Outcome1,Outbreak_Related,Reporting_PHU_ID
0,1,2019-05-30,2020-05-05,2020-05-05,2020-05-03,50s,FEMALE,CC,Resolved,NaN,2260
1,2,2019-11-20,2020-10-21,2020-11-21,2019-11-20,20s,FEMALE,NO KNOWN EPI LINK,Resolved,NaN,4913
2,3,2020-01-01,2020-04-24,2020-04-24,2020-04-23,80s,MALE,NO KNOWN EPI LINK,Resolved,NaN,2234
3,4,2020-01-01,2020-05-17,2020-05-17,2020-05-15,50s,MALE,CC,Resolved,NaN,2265
4,5,2020-01-01,2021-05-26,2021-03-31,2021-03-28,UNKNOWN,MALE,TRAVEL,Resolved,NaN,2263

In [6]:
#Verify if there is PHU id in the vaccinedata that is not in the PHU dataframe
merged1 = vaccinedata_df.merge(phu_df, left_on='PHU ID', right_on='Reporting_PHU_ID', how='outer')
print(vaccinedata_df['Total population'].isnull().sum())
print(phu_df['Reporting_PHU'].isnull().sum())
print(merged1['Total population'].isnull().sum())
print(merged1['Reporting_PHU'].isnull().sum())
merged1[merged1['Reporting_PHU'].isnull()]

0
0
0
1342

,Date,PHU ID,PHU name,Agegroup,At least one dose_cumulative,Second_dose_cumulative,Total population,Percent_at_least_one_dose,Percent_fully_vaccinated,Reporting_PHU_ID,Reporting_PHU,Reporting_PHU_Address,Reporting_PHU_City,Reporting_PHU_Postal_Code,Reporting_PHU_Website,Reporting_PHU_Latitude,Reporting_PHU_Longitude
40249,2021-07-26,9999,UNKNOWN,12-17yrs,207,20.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40250,2021-07-26,9999,UNKNOWN,18-29yrs,1313,135.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40251,2021-07-26,9999,UNKNOWN,30-39yrs,932,138.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40252,2021-07-26,9999,UNKNOWN,40-49yrs,507,97.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40253,2021-07-26,9999,UNKNOWN,50-59yrs,495,113.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41586,2021-11-24,9999,UNKNOWN,70-79yrs,451,327.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41587,2021-11-24,9999,UNKNOWN,80+,106,82.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41588,2021-11-24,9999,UNKNOWN,Adults_18plus,18529,11691.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41589,2021-11-24,9999,UNKNOWN,Ontario_12plus,19335,12078.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41590,2021-11-24,9999,UNKNOWN,Undisclosed_or_missing,56,34.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#get the new PHU ids from the vaccinadata 
phu_from_vaccinedata = pd.DataFrame(merged1[merged1['Reporting_PHU'].isnull()].groupby(['PHU ID','PHU name']).Date.count()).reset_index()
phu_from_vaccinedata = phu_from_vaccinedata.drop(columns=['Date'])
phu_from_vaccinedata

   PHU ID PHU name
0    9999  UNKNOWN

In [8]:
# drop not needed columns from vaccinedata as it is already in the PHU table
vaccinedata_df = vaccinedata_df.drop(columns=['PHU name'])
vaccinedata_df.head()

,Date,PHU ID,Agegroup,At least one dose_cumulative,Second_dose_cumulative,Total population,Percent_at_least_one_dose,Percent_fully_vaccinated
0,2021-07-26,2226,12-17yrs,3843,1890.0,6504,0.5909,0.2906
1,2021-07-26,2227,12-17yrs,6306,3567.0,10734,0.5875,0.3323
2,2021-07-26,2240,12-17yrs,3229,1923.0,7233,0.4464,0.2659
3,2021-07-26,2237,12-17yrs,21710,14055.0,37018,0.5865,0.3797
4,2021-07-26,2251,12-17yrs,50734,31410.0,66222,0.7661,0.4743

In [14]:
# drop column phu_name from outbreaks_df as it is already in the PHU table
outbreaks_df = outbreaks_df.drop(columns=['phu_name'])

### Import data into the database

#### PHU

In [9]:
# Add PHU_df to the Database only if table PHU is empty
count_phu = pd.read_sql('SELECT COUNT(1) FROM phu', engine)
if count_phu.at[0,'count'] == 0:
    phu_df.columns = phu_df.columns.str.lower()
    phu_df.to_sql(name='phu', con=engine, if_exists='append', index=False)
    phu_from_vaccinedata.columns = ['Reporting_PHU_ID','Reporting_PHU']
    phu_from_vaccinedata.columns = phu_from_vaccinedata.columns.str.lower()
    phu_from_vaccinedata.to_sql(name='phu', con=engine, if_exists='replace', index=False)

#### Confirmed cases

In [10]:
# check last line of the confirmedcases table to insert only what is new data.
last_line_cc = pd.read_sql('SELECT row_id FROM confirmedcases ORDER BY row_id DESC LIMIT 1', engine)
if last_line_cc['row_id'].count() > 0:
    confirmedcases_df = confirmedcases_df[confirmedcases_df['Row_ID'] > last_line_cc.at[0,'row_id']]

In [11]:
# Add confirmedcases_df to Database
confirmedcases_df.columns = confirmedcases_df.columns.str.lower()
confirmedcases_df.to_sql(name='confirmedcases', con=engine, if_exists='append', index=False)

#### Vaccine data

In [12]:
# check last line of the vaccinedata table to insert only what is new data.
last_line_vax = pd.read_sql('SELECT "date" FROM vaccinedata ORDER BY "date" DESC LIMIT 1', engine)
if last_line_vax['date'].count() > 0:
    vaccinedata_df = vaccinedata_df[pd.to_datetime(vaccinedata_df['Date']) > pd.to_datetime(last_line_vax.at[0,'date'])]

In [13]:
# Add vaccinedata_df to Database
vaccinedata_df.columns = ['Date','PHU_ID','Agegroup','At_least_one_dose_cumulative','Second_dose_cumulative','Total_population','Percent_at_least_one_dose','Percent_fully_vaccinated']
vaccinedata_df.columns = vaccinedata_df.columns.str.lower()
vaccinedata_df.to_sql(name='vaccinedata', con=engine, if_exists='append', index=False)

#### Ongoing Outbreaks

In [15]:
# check last line of the outbreaks table to insert only what is new data.
last_line_oo = pd.read_sql('SELECT "date" FROM outbreaks ORDER BY "date" DESC LIMIT 1', engine)
if last_line_oo['date'].count() > 0:
    outbreaks_df = outbreaks_df[pd.to_datetime(outbreaks_df['date']) > pd.to_datetime(last_line_oo.at[0,'date'])]

In [16]:
# Add outbreaks_df to Database
outbreaks_df.columns = outbreaks_df.columns.str.lower()
outbreaks_df.to_sql(name='outbreaks', con=engine, if_exists='append', index=False)